.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Resources/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-main-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 50px 100px;
    border: 2px solid black;
    background-color: rgba(rgb(53, 52, 52, 1));
}

.login-main-form .p-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 100px;
}

.login-main-form .p-6 input {
    margin: 10px 10px;
}
.login-main-form .p-6 button {
    margin: 10px 10px;
}

.character {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.character img {
    width: 300px;
    height: 300px;
}