.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Resources/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register-container input {
    margin: 10px 10px;
    padding: 10px 30px;
    font-size: 20px;
}
.register-container  button {
    margin: 10px 10px;
    background-color: rgb(14, 168, 14);
    font-size: 20px;
    border: none;
    padding: 15px 50px;
    border-radius: 30px;
}
