.game-container {
<<<<<<< Updated upstream
    text-align: center;
    padding: 20px;
  }
  
  .game-info {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .game-area {
    width: 600px;
    height: 400px;
    position: relative;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
  }
  
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .player {
    width: 40px;
    height: 40px;
    position: absolute;
  }
  
  .banana {
    width: 30px;
    height: 30px;
    position: absolute;
  }
  
  /* .quiz-popup {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
  } */
  .quiz-popup {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
  }
  
  .quiz-image {
    width: 300px;  /* Adjust size as needed */
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid white;
  }
  
=======
  width: 1200px;
  height: 1000px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: #add8e6;
}

.game-info {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-area {
  width: 100%;
  height: 100%;
  position: relative;
}

.ground {
  width: 100%;
  height: 50px;
  background-color: brown;
  position: absolute;
  bottom: 0;
}

.player {
  position: absolute;
  width: 40px;
  height: 40px;
}

.banana {
  position: absolute;
  width: 30px;
  height: 30px;
}

.quiz-popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  text-align: center;
}
>>>>>>> Stashed changes
