.navbar-main {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-main li{
    margin: 10px 50px;
    font-size: 30px;
   
}
.navbar-main li a{
    text-decoration: none;
    color: rgb(163, 110, 11);
    position: relative;
}
.navbar-main li a::after{
    position: absolute;
;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    left: 0px;
    content: "";
    height: 4px;
    width: 0px;
}
.navbar-main li a:hover{
    color: black;
    
}
.navbar-main li a:hover::after{
    width: 100%;
    transition: 600ms;
    
}